*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url('background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    margin-top: 20px;
    height: 30vh;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
nav ul li{
    margin-right: 20px;
    position: relative;
}
nav ul li a{
    text-decoration: none;
    color: aqua;
    transition: all 0.5s ease-in-out;
}
nav ul li a:hover{
    text-transform: uppercase;
    font-size: 20px;
    background-color: rgb(180, 152, 118);
    box-shadow: 10px 10px 30px rgba(223, 10, 10, 0.75);
    border-radius: 25px;
    padding: 3px;
}
nav ul li a::after{
    content:"";
    background-color: blue;
    height: 3px;
    position: absolute;
    left:0;
    top: 30px;
    width: 0;
    transition: all 0.5s ease-in-out;
}
nav ul li a:hover::after{
    width: 100%;
}
.logo{
    width: 220px;
    height: 80px;
    cursor: pointer;
    margin-left: 10px;
}
main{
    height:60vh;/*height-vh, width-vw */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}
main section{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    color: wheat;
    font-size: 20px;
    letter-spacing: 2px;
    word-spacing: 5px;
}
main .button{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
main button{
    color: #fff;
    background: transparent;
    text-transform: uppercase;
    width: 200px;
    border-radius: 25px;
    padding: 15px 0;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid #009688;
    position: relative;
}
main button span{
    background: #009688;
    height: 100%;
    width: 0;
    position: absolute;
    top:0;
    left:0;
    border-radius: 25px;
    z-index: -1;
    transition: 0.5s;
}
main button:hover span{
    width: 100%;
}
footer{
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: 10px;
    gap:10px;
    color: whitesmoke;
}
footer span{
    font-size:20px;
    text-shadow: 5px 5px 20px red;
    font-family: 'Croissant One', cursive;
    cursor: pointer;
}
footer ul{
    list-style-type: none;
    display: flex;
    gap:20px;
    justify-content: center;
    margin-bottom: 10px;
}
footer ul li a{
    text-decoration: none;
    color: whitesmoke;
    text-transform: uppercase;
}
footer ul li a i{
    margin-right:10px;
    background-color: azure;
    border-radius: 50%;
    font-size: 21px;
    text-align: center;
    color:white;
    padding:3px;
    text-align: center;/*1da1f2 twitter background color*/
}